[run]
branch = True
source = 
    services
    tenet_plugin
    scripts
omit =
    */tests/*
    */test_*.py
    */__pycache__/*
    */site-packages/*
    setup.py
    */migrations/*

[report]
precision = 2
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod
    if sys.version_info
    if platform.system
    except ImportError:
    except ModuleNotFoundError:
    @overload
    if typing.TYPE_CHECKING:

[html]
directory = htmlcov

[xml]
output = coverage.xml

[paths]
source =
    services
    tenet_plugin
    scripts
